{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block contentTitle %}全蛋白/修饰网页版报告平台{% endblock %}

{% block body %}

    <div class="container">

        <table data-toggle="table"
               data-url="https://api.github.com/users/wenzhixin/repos"
               data-query-params="queryParams"
               data-pagination="true"
               data-search="true"
               data-page-size="25"
               data-page-list=[25,50,100]
               data-height="750">
            <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="stargazers_count">Stars</th>
                <th data-field="forks_count">Forks</th>
                <th data-field="description">Description</th>
                <th data-field="description">Description</th>
            </tr>
            </thead>
        </table>

    </div>


    <script>function queryParams() {
        return {
            type: 'owner',
            sort: 'updated',
            direction: 'desc',
            per_page: 100,
            page: 1
        };
    }</script>



{% endblock %}










